.jumbotron {
	background-image: url('jumbotron.jpg');
	background-size: cover;
	min-height: 500px;
	margin-bottom: 0px;
	color: white;
}

body { 
	padding-bottom: 100px;
}

.alt1 {
	background: #eee;
	min-height: 300px;
}

.padding {
	padding-top: 20px;
	padding-bottom: 20px;
}

.backTop {
	text-align: center;
}

p {
	font-family: 'Slabo 27px', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu Condensed', sans-serif;
}

